
<div class='game-screen'>

  <div class="controls-panel">
    <div class="player-view">
      <%# <img src="user_image_01.jpg"> %>
    </div>
    <div class="player-stats">
      <div class="hp">HP: <%= player_stats[:hp] %></div>
      <div class="attack">Attack: <%= player_stats[:attack] %></div>
      <div class="defence">Defence: <%= player_stats[:defence] %></div>
      <div class="speed">Speed: <%= player_stats[:speed] %></div>
      <div class="name">Name: <%= player_stats[:name] %></div>
      <div class="score">Score: <%= player_stats[:score] %></div>
      <div class="turns">Turns Taken: <%= player_stats[:turns] %></div>
    </div>
    <div class="player-commands">
      <div class="nav-commands">
        <%# window.location returns the current browser url using JS. %>
        <div class="nav-button">
          <%= button_tag "", { class: "nav north_west", onclick: "window.location = '/games/#{@game.id}/move/northwest'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav north", onclick: "window.location = '/games/#{@game.id}/move/north'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "",  { class: "nav north_east", onclick: "window.location = '/games/#{@game.id}/move/northeast'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav west", onclick: "window.location = '/games/#{@game.id}/move/west'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "Wait", { class: "wait_button", onclick: "window.location = '/games/#{@game.id}/nextturn'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav east", onclick: "window.location = '/games/#{@game.id}/move/east'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav south_west", onclick: "window.location = '/games/#{@game.id}/move/southwest'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav south", onclick: "window.location = '/games/#{@game.id}/move/south'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav south_east", onclick: "window.location = '/games/#{@game.id}/move/southeast'" } %>
        </div>
      </div>
      <div class="action-commands">
        <%= button_tag "Use Item", { class: "action-button", onclick: "window.location = '#'" } %>
        <%= button_tag "Quit Game", { class: "action-button", onclick: "window.location = '/games/#{@game.id}/quit'" } %>
      </div>
      <div class="delete-command">
        <%= button_tag "Delete Game", { class: "delete-button", onclick: "window.location = '/games/#{@game.id}/delete'" }%>
      </div>
    </div>
  </div>

  <div id="battlescreen" class ="game-map">
    <h1 id="fight-header">Finally, you won the fight!<h1>
    <div id="battlestats">
      <h2> Battle log:</h2>
      <ul id="battle_log">
        <%@log.each { |line|%>
          <li><%=line%></li>
        <%}%>
      </ul>
    </div>
    <div id= "ok_button">
      <%= form_with url: "/games/#{@game.id}/play", method: :get do |f| %>
        <%= f.submit value: "Check the Loot", class: 'battle_button'%>
      <% end %>
    </div>
  </div>

</div>
