
<div class='game-screen'>

  <div class="controls-panel">
    <div class="player-view">
      <%# <img src="user_image_01.jpg"> %>
    </div>
    <div class="player-stats">
      <div class="hp">HP: <%= player_stats[:hp] %></div>
      <div class="attack">Attack: <%= player_stats[:attack] %></div>
      <div class="defence">Defence: <%= player_stats[:defence] %></div>
      <div class="speed">Speed: <%= player_stats[:speed] %></div>
      <div class="name">Name: <%= player_stats[:name] %></div>
      <div class="score">Score: <%= player_stats[:score] %></div>
      <div class="turns">Turns Taken: <%= player_stats[:turns] %></div>
    </div>
    <div class="player-commands">
      <div class="nav-commands">
        <%# window.location returns the current browser url using JS. %>
        <div class="nav-button">
          <%= button_tag "", { class: "nav north_west", onclick: "window.location = '/move/northwest'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav north", onclick: "window.location = '/move/north'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "",  { class: "nav north_east", onclick: "window.location = '/move/northeast'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav west", onclick: "window.location = '/move/west'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "Wait", { class: "wait_button", onclick: "window.location = '/nextturn'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav east", onclick: "window.location = '/move/east'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav south_west", onclick: "window.location = '/move/southwest'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav south", onclick: "window.location = '/move/south'" } %>
        </div>
        <div class="nav-button">
          <%= button_tag "", { class: "nav south_east", onclick: "window.location = '/move/southeast'" } %>
        </div>
      </div>
      <div class="action-commands">
        <%= button_tag "Use Item", { class: "action-button", onclick: "window.location = '#'" } %>
        <%= button_tag "Quit Game", { class: "action-button", onclick: "window.location = '/games/#{@game.id}/quit'" } %>
      </div>
      <div class="delete-command">
        <%= button_tag "Delete Game", { class: "delete-button", onclick: "window.location = '/games/#{@game.id}/delete'" }%>
      </div>
    </div>
  </div>

  <div id="field", class='game-map'>
    <%=@game.print%>
    <script>
      player = document.getElementById("player")
      board = document.getElementById("field")
      board.scrollLeft = player.offsetLeft - board.offsetLeft - (board.clientWidth / 2)
      board.scrollTop = player.offsetTop - board.offsetTop - (board.clientHeight / 2)
    </script>
  </div>

</div>
